<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="ex.soft.domain.**" />
    <context:property-placeholder location="classpath:/db/*.properties"/>

    <bean id="phoneDao" class="ex.soft.domain.dao.jdbc.JdbcPhoneDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="orderDao" class="ex.soft.domain.dao.jdbc.JdbcOrderDao">
        <property name="dataSource" ref="dataSource"/>
        <property name="phoneDao" ref="phoneDao"/>
    </bean>

    <bean id="userDao" class="ex.soft.domain.dao.jdbc.JdbcUserDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.mysql.driver}"/>
        <property name="url" value="${jdbc.mysql.url}"/>
        <property name="username" value="${jdbc.mysql.user}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
        <!--<property name="driverClassName" value="${jdbc.hsqldb.driverClass}"/>-->
        <!--<property name="url" value="${jdbc.hsqldb.url}"/>-->
        <!--<property name="username" value="${jdbc.hsqldb.username}"/>-->
        <!--<property name="password" value="${jdbc.hsqldb.password}"/>-->
    </bean>

    <!--<jdbc:initialize-database data-source="dataSource" enabled="#{systemProperties.INITIALIZE_DATABASE}">-->
        <!--<jdbc:script location="classpath:/db/schema.sql"/>-->
        <!--<jdbc:script location="classpath:/db/test-data.sql"/>-->
    <!--</jdbc:initialize-database>-->

</beans>