<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:applicationContext-domain.xml" />

    <bean id="phoneService" class="ex.soft.service.PhoneService">
        <property name="phoneDao" ref="phoneDao"/>
    </bean>

    <bean id="orderService" class="ex.soft.service.OrderService">
        <property name="orderDao" ref="orderDao"/>
    </bean>

</beans>