
.error{
    line-height: 2.0;
    font-size: 12px;
    color: red;
}
.errorBorder{
    border: 1px solid #f00;
}
.title{
    font-size: 2.5em;
    margin-right: 20px;
    line-height: 2em;
}
/*header styles*/
header{
    border-bottom: 1px solid #000;
    padding: 20px 0;
    margin-bottom: 20px;
    position: relative;
}
header div.phone{
    font-size: 3.5em;
    float: left;
}
header div.phone span{
    position: relative;
    top: 10px;
    margin-right: -10px;
}
header button{
    position: relative;
    top: 25px;
    display: block;
    float: right;
}
header div.clear{
    clear: both;
}
header button span {
    font-weight:bold;
}
/*nav styles*/
nav{
    margin-bottom: 10px;
}
nav.cart{
    display: flex;
    justify-content: space-between;
}
nav.cart button {
    display: inline-block;
    margin: 20px 0 0;
    min-width: 150px;
}

/*button style*/
input[type="text"]{
    text-align: right;
}
button{
    border: 1px solid #000;
    border-radius: 5px;
}
header button, nav button {
    padding: 10px;
}
.cartBtns{
    text-align: right;
}
.cartBtns button{
    padding: 10px;
    width: 125px;
    margin: 20px 5px;
}
/*table styles*/
.product {
    width:100%;
    margin:20px auto;
}
.details{
    width:25%;
    margin: 30px 0 0;
}
.product.cart{
    margin: 10px 0;
}
.product, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.product th, .product td {
    padding: 15px;
    text-align: left;
}
.details th, .details td {
    padding: 20px;
    text-align: left;
}
.product th, .product tr:nth-child(odd) {
    background-color: #eee;
}
.product tr:nth-child(even) {
    background-color:#fff;
}
.details-buttons{
    width:25%;
    border: 0;
    margin: 0;
}
.details-buttons td{
    border: 0;
    background-color: #fff;
    padding: 20px 0 0 0;
    text-align: center;
    vertical-align: text-top;
}
.order{
    width: 40%;
}
.order td{
    padding: 10px 0;
    text-align: left;
    border:none;
    vertical-align: top;
}
.order input[type="text"]{
    width: 100%;
    text-align: left;
}
.order textarea{
    width: 100%;
    min-height: 100px;
}
.order button{
    min-height: 42px;
    min-width: 100px;
}
.hideme{
    visibility: hidden!important;
}


.details-buttons td:first-child{
    width: 50%;
    text-align: right;
}
.cartForms{
    text-align: right;
}
.cartForms form{
    display:inline-block;
    margin-left: 10px;
}
