.error{
    line-height: 2.0;
    font-size: 12px;
    color: red;
}
.errorBorder{
    border: 1px solid #f00;
}
/*header styles*/
header{
    border-bottom: 1px solid #000;
    padding: 20px 0;
    margin-bottom: 20px;
    position: relative;
}
header div.phone{
    font-size: 3.5em;
    float: left;
}
header div.phone span{
    position: relative;
    top: 10px;
    margin-right: -10px;
}
header button{
    position: relative;
    top: 25px;
    display: block;
    float: right;
}
header div.clear{
    clear: both;
}
header button span {
    font-weight:bold;
}
/*nav styles*/
nav{
    margin-bottom: 10px;
}
nav.cart{
    display: flex;
    justify-content: space-between;
}
nav.cart button {
    display: inline-block;
    margin: 20px 0 0;
}
nav.cart button.forward {
    width: 100px;
}

/*button style*/
input[type="text"]{
    text-align: right;
}
button{
    border: 1px solid #000;
    border-radius: 5px;
}
header button, nav button {
    padding: 10px;
}
.cartBtns{
    text-align: right;
}
.cartBtns button{
    padding: 10px;
    width: 125px;
    margin: 20px 5px;
}
/*table styles*/
table {
    width:100%;
    margin:20px auto;
}
table.details{
    width:25%;
    margin: 30px 0 0;
}
table.cart{
    margin: 10px 0;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table th, table td {
    padding: 20px;
    text-align: left;
}
table.details th, table.details td {
    padding: 10px;
    text-align: left;
}
table th, table tr:nth-child(odd) {
    background-color: #eee;
}
table tr:nth-child(even) {
    background-color:#fff;
}
table.details-buttons{
    width:25%;
    border: 0;
    margin: 0;
}
table.details-buttons td{
    border: 0;
    background-color: #fff;
    padding: 20px 0 0 0;
    text-align: center;
    vertical-align: text-top;
}
table.details-buttons td:first-child{
    width: 50%;
    text-align: right;
}
.cartForms{
    text-align: right;
}
.cartForms form{
    display:inline-block;
    margin-left: 10px;
}